/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------------------------------------------*/
body{
    font-family: PingFang TC, SF Pro Text;
}
img{
    display:block;
}
.contain {
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size:80px;
    line-height:95px;
    border-bottom: 2px solid #000;
    padding-bottom: 24px;
    margin-top: 40px;
    margin-bottom: 48px;
}
.profile, .education, .skill{
    margin-bottom: 72px;
}
.title{
    font-weight: Medium;
    font-size:32px;
    line-height:48px;
    border-bottom:1px solid #000000;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.profile span, .education span, .experience span{
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #A00404;
}
.profile li, .education li{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
    font-weight: Light;
}
.skill, .footer{
    background: #415165 0% 0% no-repeat padding-box;
    padding-top: 24px;
    text-align: center;
}
.skill_inner h2, .footer_inner h2{
    text-align: center;
    font-size:32px;
    line-height: 45px;
    border-bottom:1px solid #FFFFFF;
    padding-bottom: 8px;
    color: #FFFFFF;
}
.skill_inner span, .footer_inner span{
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.skill_inner li, .footer_inner li{
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.skill_inner ul, .experience ul{
    padding-left: 24px;
}

.profile img{
    margin-bottom: 48px;
}
.skill{
    padding-bottom:31.5px;
}
.skill h2{
    width: 100%;
    margin-bottom: 40.5px;
}
.skill_inner{
    width: 996px;
    margin: 0px auto;
    color:#FFFFFF;
}
.skill_inner ul{
    width: 200px;
    margin: 0 auto;
    border-left: 1px solid #ffffff;
}
.skill_inner li{
    margin-bottom: 20px;
}
.experience{
    margin-bottom: 76px;
}
.experience p{
    font-size: 20px;
    line-height: 30px;
    font-weight: light;
}
.hexschool{
    width: 642px;
    height: 150px;
    margin-bottom: 32px;
}
.experience h2{
    line-height: 45px;
}
.experience ul{
    margin:16px 0px 0px 24px;
    border-left: 1px solid #96A9C4;
}
.experience li{
    font-size: 24px;
    line-height: 36px;
    font-weight: Medium;
}
.case{
    margin-bottom: 32px;
}
.hex_logo{
    margin: 8px 0px 8.15px 0px;
}
.cofe_logo{
    margin: 8px 0px;
}
.footer{
    padding-bottom: 48px;
}
.footer_inner{
    width: 1200px;
    margin:0px auto;
    text-align: center;   
}
.footer_inner h2{
    margin-bottom: 32px;
}
.footer_inner li{
    font-weight: Light;
    margin-bottom: 16px;
}
.footer_inner img{
    display: inline-block;
    margin: 4px 12px;
}